
@model Thrift_Fashion.Models.admin

@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/_Dashboard_Index.cshtml";
}


@using (Html.BeginForm("Change_Password", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row gsap">
        <div class="col-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Change Password</h4>
                    <p class="card-description">Change Your Password here</p>
                    <form class="forms-sample">
                        @Html.HiddenFor(model => model.A_id)
                        <div class="form-group">
                            @Html.HiddenFor(model => model.A_Name, new { htmlAttributes = new { @class = "form-control inp" } })
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-2 ">Password</label>
                            @Html.EditorFor(model => model.A_Password, new { htmlAttributes = new { @class = "form-control inp first-pass", @type = "password", @value = "" } })
                            @Html.ValidationMessageFor(model => model.A_Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.HiddenFor(model => model.A_Email, new { htmlAttributes = new { @class = "form-control inp", @type = "email" } })
                            @Html.ValidationMessageFor(model => model.A_Email, "", new { @class = "text-danger" })
                        </div>


                        <button type="submit" class="btn btn-primary me-2 btn-suber">Submit</button>

                        <script>

                            const btnSuber = document.querySelector('.btn-suber');
                            const firstpass = document.querySelector('.first-pass');
                            firstpass.value = "";
                        </script>
                        <button class="btn btn-light btn-cancel">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


}

